<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>Guess the number</title>
</head>
<body>
<h1>Guess the random number</h1>

<form method="post" action="/guess">
  <input type="number" name="guessnumber" placeholder="Number" required="required">
  <button type="submit" >Svara</button>
</form>
<p>svaret:<span th:text="${answer}" aria-placeholder="answer"></span></p> <br>

<form action="/welcome" method="get">
    <button type="submit">Reset game</button>
</form>
</body>
</html>